<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AssignmentApplication"
        android:allowBackup="true"
        android:label="4683839 Assignment 2"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment2">

        <activity android:name=".ui.details.DetailsActivity" />
        <activity android:name=".ui.dashboard.DashboardActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
